/* 
--TWIST PONG CODE--
--Writen by Pedro Pasquali--1#Project IronHack WDPT50-SP--

font-family: Playfair Display, serif;   -- `TWIST` word ONLY
font-family: Staatliches, cursive;      -- general text
font-family: VT323, monospace;          -- `PONG` word ONLY
*/


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    /* color: black; */
    background-color: rgb(23, 32, 42);
    font-size: 10em;
    font-family: Staatliches, cursive;
}

#smallIntro {
    margin: 3em 0em 3em 0em;
    width: 20%;
    text-align: left;
    color: 255, 255, 255;
    font-size: 0.16em;
}

.scrollSignals{
    margin: 60px 0 0 0;
}

.scrollSignals2{
    margin: 0 0 0 0;
}


img {
    filter: invert(1)
}

hr {
    width: 85%;
    margin-top: 25px;
    margin-bottom: 25px
}

#welcomePage {
    height: 100%;
    width: 100%;
    margin: .5em 0em 0em 0em;
}

.pictograms {
    margin: 15px 0 0 0;
    width: 75px;
    height: 75px;
    filter: invert(1) opacity(0.2);
}

.breakLine2 {
    width: 40%;
    border: 1px dashed rgb(255, 255, 255);
}

#canvas {
    border: 5px dotted rgb(50, 50, 50);
    margin: 0px 40px 0px 40px;
}

#canvasDiv {
    height: 890px;
    margin-top: 25px;
}

#chooseColorP1 {
    margin: 50px;
}

#chooseColorP2 {
    margin: 50px;
}


/*---GENERAL INFO REGARDING BUTTONS AND FORMS---*/
#chooseColorP1 button{
    margin: 5px;
}

#chooseColorP2 button{
    margin: 5px;
}

#chooseScore input {
    margin: 50px;
}


/*---GENERAL INFO REGARDING FONTS HERE!---Justify, aligning, size, color---*/

.twistFont {
    font-family: Playfair Display, serif;
}

.pongFont {
    font-family: VT323, monospace;
}

.genFont {
    font-family: Staatliches, cursive;
}

.smallLetters {
    font-size: 0.9em;
    color:rgb(120, 120, 120)
}

.scrollSignals p {
    font-size: 0.16em;
    margin: 10px 0 0 0;
}


#welcomePage h1 {
    margin: 0;
    font-size: 1em;
}

#welcomePage h2 {
    margin: 0;
    font-size: 1.5em;
}

#preGame h1 {
    margin: 0 0 50px 0;
    font-size: 0.48em;
    text-align: center;
    font-weight:normal;
}

#choosePlayers h2 {
    margin: 0;
    font-size: 0.16em;
    text-align: center;
    font-weight:normal;
}

#explainControlsDetails h2 {
    margin: 0 50px 0 50px;
    font-size: 0.16em;
    text-align: center;
    font-weight:normal;
}

#explainControlsDetails p {
    margin: 50px 50px 50px 50px;
    font-size: 0.16em;
    text-align: center;
}

#gameGame h2 {
    font-size: 0.3em;
}

#p01 h2 span{
    text-align: center;
}

#p02 h2 span{
    text-align: center;
} 

#genInfo p {
    width: 300px;
    margin: 0px;
    font-size: 0.16em;
    text-align: left; 
}

#genInfo p {
    width: 350px;
    margin: 0px;
    font-size: 0.16em;
    text-align: left; 
    line-height: 1.5em;
}

#genInfo p {
    width: 350px;
    margin: 0px;
    font-size: 0.16em;
    text-align: left; 
    line-height: 1.5em;
}


/*---GENERAL ALIGNMENT CLASSES---*/

.alignInY {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.alignInX {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.alignInXFlexStart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start; 
}

.alignInXY {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

